html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px; background-color:#FFFFFF; }

#map_canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}

#controls {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  background-color: white;
  border: 2px solid black;
  padding: 2px;
  text-align: center;
  border-collapse: collapse;
}
